.cart{
    width:90%;
    height:90%;
    &-header{
        color: #7e808c;
        letter-spacing:-.3px;
        font-size: 3.2rem;
    }
    &-image{
        width:100%;
        opacity:.6;
        height:21.2rem;
        margin-top:4.7rem;
    }

    &-sub{
        color: #7e808c;
        margin-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        max-width: 21.8rem;
    }
}
