@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    // border-bottom: 1px solid #E2E8F0;
    padding-left: 15rem;
    padding-right:13rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.3rem;
}
.nav-left{
    display: flex;
    flex-direction: row;
}

.left-1{
    flex:1;
}
.left-2{
    display: block;
    padding:0rem;
    // background-color: #101010;
    padding-top: 3.5rem;
    text-transform: capitalize;
    flex:4;
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 0.12rem;
    width:12.5rem;
    padding-left: 2rem;
    padding-right:1rem;
    display: block;
    min-width: 3rem;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    color: #3d4152;
    font-weight: 700;
    &:hover{
        color: orange;
        transition:0.5s;
    }
}
.left-3{
    display: block;
    padding: 1rem;
    color:#686b78;
    align-items: center;
    // background-color: #101010;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:14rem;
    cursor: pointer;
    padding-top: 2.5rem;
    font-size: 1.4rem;


    box-sizing: border-box;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

// .search-info{
    // float: left;
    // position: relative;
    
    
// }

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 5rem;
    color:#282c3f;
}

.test-1{
    color:#282c3f;

    padding:0.5rem;
    font-size: 1.8rem;

}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    text-decoration: none;
    
}

.percent{
    height:2rem;
    padding:0.5rem;
}

.brand{
    height:5.5rem;
}
#nav-test:hover{
    text-decoration: none;
    color: orange;
}
