li,a{
    font-family: 'Poppins', sans-serif;
}
.logo{
    position:relative;
    height: 3.5rem;
    right: 5%;
    padding: 0px;
}
.offer{
    height:15px;
    padding-right:5px;
}
.signin{
    height:19px;
    padding-right:5px;
}
.fas,.far{
    padding:5px;
    color:#282c3f;
}
.navbar{
    width:100%;
    padding: 1rem;
    height: 80px;

}

.navbar .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}

nav{
    display:flex;
}

nav ul{
    display: flex;
    margin-right:20px;
}

nav ul li{
    list-style: none;
  
}

nav ul li a {
    color:#282c3f;
    text-decoration: none;
    font-size: 17px;
    margin:0px 34px;
}
